Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Escape/Saved/Logs/Escape.log
Escape/Saved/Logs/Escape.log
Escape/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Escape/Saved/Logs/Escape.log
